@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
          <ErrorBoundary>
            <ChildContent>
              @Body
            </ChildContent>
            <ErrorContent Context="ex">
            <environment include="Development">
                Caught an exception from the TriggerError componennt. The exception message is @ex.Message.
            </environment>
            </ErrorContent>
          </ErrorBoundary>
        </article>
    </main>
</div>
