@page "/games"

<PageTitle>Games</PageTitle>

<h3>Games and prototypes which I developed:</h3>

<PortfolioList DataFile="page-data/games.json" />

<h3>Games made as college semester-spanning projects: the Slugan series</h3>

<PortfolioList DataFile="page-data/slugan-games.json" />

